
<div (window:resize)="onResize($event)">
  <mat-grid-list [cols]="nbCols" rowHeight="450px">
    <mat-grid-tile *ngFor="let shop of shopList; let i = index">
      <div class="cadre">
        <button mat-mini-fab (click)="removeFromPreferred(from + i)"
                color="white" class="close"><mat-icon  >X</mat-icon>
          <!--*ngIf="dislike[from + i]==false"-->
        </button>
        <mat-card>
          <p class="title-shop">[{{from + i + 1}}] - {{shop.getName()}}</p>
          <div class="img-shop">
            <img src="{{shop.getPicture()}}">
          </div>
          <div>
            <p><span class="label">Email:</span> {{shop.getEmail()}}</p>
          </div>
          <div>
            <button mat-raised-button class="full-width" color="accent" (click)="openDialog(shop.getLocation())"
                    type="submit">
              View Location ( {{shop.getCity()}} )
            </button>

          </div>

        </mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>


<mat-paginator [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent = $event">
</mat-paginator>

<a *ngIf="pageEvent">{{updatePagination()}}</a>
