.cadre{
  margin: auto;
  text-align: center;
  background: bisque;
}

mat-grid-tile{
  margin: auto;
  text-align: center;
}

.full-width{
  width: 100%;
}


.label{
  font-weight: bold;
}

.left{
  position: relative;
  left: -20%;
  margin: 5%;
}

.right{
  float: right;
  line-height: 1em;
  list-style: none outside none;
  margin: 5%;
}

.warning{
  margin: auto;
  color: darkred;
  font-family: "Comic Sans MS", fantasy;
  align-items: center;
  display: flex;
  justify-content: center;

}

.close{
  float: right;
  line-height: 0em;
  list-style: none outside none;
  margin: 0;
  position: relative;
  z-index: 101;
}


