mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}
.register-content {
  padding: 60px 1rem;
}
.full-width-input {
  width: 100%;
}



.right{
  float: right;
  line-height: 1em;
  list-style: none outside none;
  margin: 5%;
}
