mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}
.signin-content {
  padding: 60px 1rem;
}
.full-width-input {
  width: 100%;
}

.left{
  position: absolute;
  left: 2%;
  font-size: 80%;
}

.right{
  position: absolute;
  right: 2%;
  font-size: 80%;
}
